body {
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
   
    text-align: center;
    align-content: center;
    justify-content: center;
}
header {
    position: relative;
    background: transparent;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* margin: 0 300px; */
    text-align: center;
    justify-content: center;
}

#logo {
    max-height: 200px;

}
#logo img{
    height: 50px;
}

nav {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    z-index: 1000;
    backdrop-filter: blur(50px); /* Ajuste o valor do desfoque conforme necessário */
   
}

.nav a {
    /* Adicione estilos para os links, se necessário */
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}
.link-a{
    text-decoration: none;
}
nav i{
    font-size: 35px;
}
nav .link-a:hover{
background-color: transparent;
}
nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 5px;
    font-size: 25px;

    font-weight: bold;
    transition: color 0.1s ease-in-out;
    padding: 20px ;
    transition: 0.3s;
}
nav i:hover{
    color: #2dd9ff;
    transition: 0.3s;
}
nav a:hover {
   
    color: #44506d;
   
}

nav i{
    font-size: 25px;
}
nav .link-a:hover{
background-color: transparent;
}
nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 5px;
    font-weight: bold;
    transition: color 0.1s ease-in-out;
    padding: 20px ;
    transition: 0.3s;
}
nav i:hover{
    color: #2dd9ff;
    transition: 0.3s;
}
#w:hover{
    color: #2dd9ff;
    transition: 0.3s;
}
.button {
    font-size: 15px;
    color: #FFF;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
  
  .button:focus,
  .button:hover {
    color: #2dd9ff;
  }
  
  .button:focus:after,
  .button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  .btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid #2dd9ff;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
   }
   
   .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2dd9ff;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .btn:hover::before {
    transform: translateX(0);
   }
   /* Adicione ao seu arquivo CSS */

   .contact-buttons {
    display: flex;
    margin-left: 250px;
    align-items: center;
}
/* ... Seu código CSS existente ... */

.image-container {
    position: relative;
    display: inline-block;
  }
  
 /* Adicione ao seu arquivo CSS */
 .btn1 {
    position: relative;
    display: inline-block;
}

.image-text {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.btn1:hover .image-text {
    opacity: 1;
}

.image-text {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.btn1:hover .image-text {
    opacity: 1;
}

  
  .image-container:hover .image-text {
    opacity: 1; /* Quando o mouse está sobre a imagem, torna o texto visível */
  }
  
  .btn1 {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid #2dd8ff00;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
   }
   
   .btn1::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2dd9ff;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .btn1:hover::before {
    transform: translateX(0);
   }
   .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-container {
    WIDTH: 850PX;
    box-shadow: rgba(17, 24, 39, 1) 0px 0px 50px;
    margin-right: 20px;
}
.sidebar {
    width: 333px;
    justify-content: center;
    color: #fff;
    align-content: center;
}
.flex-row{
padding-top: 250px;
}

.group {
    position: relative;
   }
   
   .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #2dd9ff;
    background: transparent;
   }
   
   .input:focus {
    outline: none;
   }
   
   label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .input:focus ~ label, .input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #2dd9ff;
   }
   
   .bar {
    position: relative;
    display: block;
    width: 100%;
   }
   
   .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #2dd9ff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .bar:before {
    left: 50%;
   }
   
   .bar:after {
    right: 50%;
   }
   
   .input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
   }
   
   .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
   }
   
   .input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
   }
   
   @keyframes inputHighlighter {
    from {
     background: #5264AE;
    }
   
    to {
     width: 0;
     background: transparent;
    }
   }.button2 {
    display: inline;
    position: relative;
    width: 56px;
    height: 56px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}
  .button2:before,
  .button2:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
  }
  
  .butto2n:before {
    border: 4px solid #f0eeef;
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .button2:after {
    border: 4px solid #96daf0;
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
  }
  
  .button2:hover:before,
  .button2:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .button2:hover:after,
  .button2:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .button2-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  .button2-box i{
    color: #fff;
  }
  .button2-elem {
    display: block;
    width: 20px;
    height: 20px;
    margin: 17px 18px 0 18px;
   
    fill: #f0eeef;
  }
  
  .button2:hover .button-box,
  .button2:focus .button-box {
    transition: 0.4s;
    transform: translateX(-56px);
  }
  .titulo{
    margin-bottom: 60px;
  }
  
  .saiba {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    border: 0;
    position: relative;
    overflow: hidden;
    border-radius: 0px;
    transition: all 0.02s;
    font-weight: bold;
    font-size: 25px;
    color: rgb(0 0 0);
    z-index: 0;
    box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    width: 210px;
}
  
  .saiba:hover {
    background: #2dd9ff;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    width: 220px;
  }
  
  .saiba:active {
    transform: scale(0.97);
  }
  
  .hoverEffect {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .hoverEffect div {
    background: #5264ae;
    background: linear-gradient(90deg, #5264ae 0%, rgba(0,212,255,1) 49%, rgba(0,212,255,1) 100%);
    border-radius: 40rem;
    width: 10rem;
    height: 10rem;
    transition: 0.4s;
    filter: blur(20px);
    animation: effect infinite 3s linear;
    opacity: 0.5;
}
  .saiba:hover .hoverEffect div {
    width: 8rem;
    height: 8rem;
  }
  
  @keyframes effect {
  
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


  .saiba-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajuste conforme necessário */
}  .saiba-container {
        display: flex;
        justify-content: center;
        margin-top: 20px; /* Ajuste conforme necessário */
    }
    .cssbuttons-io-button {
        background: #24abc9;
        color: white;
        font-family: inherit;
        padding: 0.35em;
        padding-left: 1.2em;
        font-size: 17px;
        font-weight: 500;
        border-radius: 0.9em;
        border: none;
        letter-spacing: 0.05em;
        display: flex;
        align-items: center;
        box-shadow: inset 0 0 1.6em -0.6em #2dd9ff;
        overflow: hidden;
        position: relative;
        height: 2.8em;
        padding-right: 3.3em;
        cursor: pointer;
    }
      
    .cssbuttons-io-button .icon {
        background: white;
        margin-left: 1em;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.2em;
        width: 2.2em;
        border-radius: 0.7em;
        box-shadow: 0.1em 0.1em 0.6em 0.2em #44506d;
        right: 0.3em;
        transition: all 0.3s;
    }
      
      .cssbuttons-io-button:hover .icon {
        width: calc(100% - 0.6em);
      }
      
      .cssbuttons-io-button .icon svg {
        width: 1.1em;
        transition: transform 0.3s;
        color: #2dd9ff;
      }
      
      .cssbuttons-io-button:hover .icon svg {
        transform: translateX(0.1em);
      }
      
      .cssbuttons-io-button:active .icon {
        transform: scale(0.95);
      }


      .movie-card .card {
        margin-left: -1rem;
        margin-right: -1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        text-align: left;
        margin-bottom: 2rem;
        width: 320px;
        display: flex;
        flex-direction: column;
        border-radius: 0.25rem;
        background-color: rgba(17, 24, 39, 1);
        padding: 1.5rem;
      }
      
      .movie-card.header {
        display: flex;
        flex-direction: column;
      }
      
      .movie-card .title {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        color: #fff
      }
      
      .movie-card .price {
        font-size: 3.75rem;
        line-height: 1;
        font-weight: 700;
        color: #fff
      }
      
      .movie-card .desc {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        line-height: 1.625;
        color: rgba(156, 163, 175, 1);
      }
      
      .movie-card .lists {
        margin-bottom: 1.5rem;
        flex: 1 1 0%;
        color: rgba(156, 163, 175, 1);
      }
      
      .movie-card .lists .list {
        margin-bottom: 0.5rem;
        display: flex;
        margin-left: 0.5rem
      }
      .movie-card .lists .list svg {
        height: 1.5rem;
        width: 1.5rem;
        flex-shrink: 0;
        margin-right: 0.5rem;
        color: #2dd8ff;
    }
      
      .movie-card .action {
        border: none;
        outline: none;
        display: inline-block;
        border-radius: 0.25rem;
        background-color: rgba(0,212,255,1);
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        text-align: center;
        font-weight: 600;
        width: 320px;
        cursor: pointer;
        letter-spacing: 0.05em;
        color: rgba(17, 24, 39, 1);
        transition: 0.3s;
    }
    .movie-card .action:hover {
        cursor: pointer;
        transition: 0.3s;
        transform: scale(1.1);
        background-color: rgb(255, 255, 255);
       
    }
    .movie-card {
        margin-top: 150px;
        display: flex;
        margin-right: 70px;
        justify-content: center;
        align-items: center; /* Isso alinha verticalmente os elementos no centro, se necessário */
    }
    
    .text-container {
        max-width: 400px; /* Ajuste conforme necessário */
        padding: 20px; /* Ajuste conforme necessário */
        box-sizing: border-box; /* Isso garante que o padding não afete a largura total */
        color: #fff; /* Adicione a cor desejada para o texto */
        margin-left: 70px;
        text-align: left;
    }
    .container1 {
        display: flex;
        justify-content: center;
    }

    .custom-box1 {
        width: 170px;
        height: 51px;
        background-color: #3498db;
        margin: 10px;
        color: #fff;
        border-radius: 25px;
        /* padding: 10px; */
        text-align: center;
        /* line-height: 100px; */
    }
    .custom-box1 img{
        border-radius: 25px;
        transition: 0.3s;
    }
    .custom-box1 img:hover{
        transform: scale(1.1);
        transition: 0.3s;
        border-radius: 25px;
    }
    
    .faixa-imagens-container {
      overflow: hidden;
      position: relative;
      padding-bottom: 50px;
  }
  .faixa-imagens {
    display: flex;
    position: relative;
    animation: moverFaixa 300s linear infinite;
    margin-left: -350%;
    padding-bottom: 100px;
    padding-top: 100px;
}
.faixa-imagens img {
  display: inline-block;
  width: 333px;
  margin-right: 150px;
  height: auto;
}
.texto-metodologia{
  color: #fff;
}
 a{
  text-decoration: none;
}
.degrade-lateral::before,
.degrade-lateral::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 500px; /* Largura do degradê, ajuste conforme necessário */
    z-index: 1;
}

.degrade-lateral::before {
    left: 0;
    background: linear-gradient(to right, #000000, #0a0e1200);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.degrade-lateral::after {
  right: 0;
  background: linear-gradient(to left, #000000, #0a0e1200);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@keyframes moverFaixa {
    0% {
        transform: translateX(80%);
    }
    100% {
        transform: translateX(-100%);
    }
    200% {
        transform: translateX(-50%); /* Adicione este ponto para garantir um loop suave */
    }
}
.container .faixa-imagens {
  display: flex;
  position: relative;
  animation: moverFaixa 300s linear infinite;
  margin-left: -350%;
  padding-bottom: 100px;
  padding-top: 100px;
}
#faq-Section {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 600px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: white;
  margin-top: 10rem;
}
.faqSelectStyles {
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  /* font-weight: 400; */
  outline: #2dd8ff solid 2px;
  border-radius: 100px;
  background-color: var(--nx-bgColor);
  color: rgb(201, 201, 201);

  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.faqSelectStyles:hover {
  background-color:rgba(17, 24, 39, 1);
  outline: #000000 solid 2px;
  transition: 0.3s;
}



.faq-opc {
  text-align: left;
  margin-top: 10px;
  max-width: 100%;
  padding: 25px 0px;
  align-self: center;
  border-top: 1px solid rgb(85, 85, 85);
  display: none;
}

.faqExpand {
  margin-top: 225px !important;
  margin-bottom: 230px !important;
}

.faqClicked .faq-opc {
  display: block !important;
}

.faq-secSelect {
  width: 100%;
}

.content-container {
  display: flex;
  align-items: center; /* Alinha verticalmente no centro */
}

/* Estilo para a div da imagem */
.image-wrapper {
  margin-right: 20px; /* Espaçamento à direita */
}

/* Estilo para a caixa de texto */
.text-container {
  /* Adicione estilos conforme necessário para a caixa de texto */
}

/* Evitar que a imagem ou caixa de texto ultrapassem o contêiner */
.image-wrapper img, .text-container {
  max-width: 359px;
  height: auto;

}
.movie-card1 {
   margin-bottom: 150px; 
  display: flex;
  margin-right: 70px;
  justify-content: center;
  align-items: center;
}
 .text-container1 {
  max-width: 900px;
  height: auto;

}
.content-container2 {
  position: relative;
  z-index: 2;
  border-radius: 20px;
 
 
}
.content-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.social-card {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
  /* background: rgb(255, 255, 255); */
  padding-top: 20px;
  border-radius: 14px;
}
.Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  /* border: 1px solid rgba(156, 156, 156, 0.466); */
  z-index: 2;
}
.svgContainer i{
  color: #fff;
  font-size: 20px
}
.BG {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: 1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
  font-size: 0px;
}
.github .BG {
  background: #ff0000;
}
.linkdin .BG {
  background: #9700b5;
}
.whatsapp .BG {
  background: #0bbb19;
}
.discord .BG {
  background: #7289da;
}
.Btn:hover .BG {
  transform: scale(1.5);
  /* transform-origin: bottom; */
  font-size: 20px;
  color: white;
}

.Btn:hover .svgContainer {
  border: 1px solid rgba(216, 216, 216, 0.466);
  background-color: rgba(209, 209, 209, 0.466);
  backdrop-filter: blur(4px);
}
